.footer {
  background: linear-gradient(45deg, #4caf50, #3e8e41);
  color: white;
  padding: 50px;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 10px;
  min-width: 250px;
  text-align: left;  
}

.footer-section h3 {
  margin-bottom: 17px;
  font-size: 24px;
  color: #fffcf5;
  padding-bottom: 5px;
}

.footer-section p {
  font-size: 18px;
  line-height: 1.5;
}

.footer-highlight {
  font-size: 18px;
  font-weight: bold;
  color: #e8c140;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.footer-link:hover {
  text-decoration: none;
  color: #e8c140;
  border-bottom: 1px solid #e8c140;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 0.7rem;
}

.footer-social-icons {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-social-icon {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  border: 2px solid white;
  border-radius: 50%;
  padding: 8px;
}

.footer-social-icon:hover {
  color: #2f3134;
  transform: scale(1.1);
  box-shadow: 0 0 10px #e8c140;
  background: white;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
  }

  .footer-section {
      text-align: center;
  }

  .footer-social-icons {
      justify-content: center;
  }

  .footer-social-icon {
      font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .footer {
      padding: 20px;
  }

  .footer-section {
      padding: 10px;
  }

  .footer-section h3 {
      font-size: 18px;
  }

  .footer-highlight {
      font-size: 12px;
  }

  .footer-link {
      font-size: 14px;
  }

  .footer-section p {
      font-size: 14px;
  }

  .footer-social-icon {
      font-size: 1rem;
      gap: 0.3rem;
  }
}
